.list {
  margin-bottom: 20px;
  text-align: center;
}

.todo {
  font-size: 22px;
  margin-bottom: auto;
}

.todo__button {
  margin-right: 10px;
  cursor: pointer;
}

.addTodo {
  text-align: center;
}
